<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap"
        rel="stylesheet">

  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  <script src="https://cdn.jsdelivr.net/npm/@twind/core@1" crossorigin></script>
  <script>
    twind.install({
      /* options */
    })
  </script>
  <script
  src="https://cdn.jsdelivr.net/combine/npm/@twind/core@1,npm/@twind/preset-autoprefix@1,npm/@twind/preset-tailwind@1"
  crossorigin></script>
  <script>
    twind.install({
      presets: [twind.presetAutoprefix(/* options */), twind.presetTailwind(/* options */)],
    })
  </script>
  <link rel="stylesheet" href="/main.css"/>
</head>
<body>
<div class="app">
  <aside>
    <h1 class="text-3xl text-red underline">Micro.</h1>
    <img src="/hero.png" />

    <button class="btn primary" hx-get="/events/form/" hx-target="#main-view">Create</button>
  </aside>

  <main>
    <input type="search" placeholder="Search..."
      name="key"
      hx-get="/search"
      hx-trigger="keyup changed delay:500ms"
      hx-target="#main-view" />

    <div
      hx-get="/events"
      hx-trigger="load"
      hx-target="#main-view"
      kx-on:htmx:timeout="alert('Failed to fetch events')">
      <div id="main-view"></div>
    </div>
  </main>
</div>
</body>
</html>
